<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Malevolence_Mod_Manager.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="version" value="1.21" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Malevolence_Mod_Manager.App>
      <setting name="MSOADirectory" serializeAs="String">
        <value>C:\Visual Outbreak\Malevolence Game</value>
      </setting>
      <setting name="LastMod" serializeAs="String">
        <value />
      </setting>
      <setting name="GameVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="modDirectory" serializeAs="String">
        <value>Please Create/Locate your Malevolence mod folder.</value>
      </setting>
      <setting name="ModList" serializeAs="String">
        <value>Vanilla</value>
      </setting>
      <setting name="AppWindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="statFiles" serializeAs="String">
        <value>0</value>
      </setting>
    </Malevolence_Mod_Manager.App>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>